body, html{
    margin: 0;
    padding: 0;
    background-image: url(../img/salacomunal-griffindor.jpg);
    background-position: top;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: #F2ECD8;
    min-width: 100%
}

/*CONFIGURAÇÕES DA NAV BAR*/
header{
    width: 100%;
    height: 70px;
    background-color:  #08090c9a;
}

h1{
    font-family: 'Harry Potter', sans-serif;
    position: absolute;
    padding: 3px;
    float: left;
    margin-left: 2%;
    margin-top: 10px;
    font-weight: 400;
    color: #ac090c;
}

header ul{
    width: auto;
    float: right;
    margin-top: 8px;
}

header li{
    display: inline-block;
    padding: 15px 30px;
}

header a{
    text-align: center;
    color: #d10d11;
    text-decoration: none;
    font-size: 19px;
    font-family: 'Harry Potter', sans-serif;
}

header a:hover{
    color: #860c0e;
    transition: 0.5s;
}

/*CONFIGURAÇÕES DO CONTEÚDO PRINCIPAL*/

img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    padding-bottom: 5px;
}

IMG.imagem {
    display: block;
    margin-left: auto;
    margin-right: auto; 
}

#conteudo{
    font-family: 'Mate SC', serif;
    width: 60%;
    height: 90%;
    padding: 5px 0px 25px 0px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    background-color: #08090ca6;
}

p{
    width: 70%;
    padding: 10px 0 5px 0px ;
    height: auto;
    margin: auto;
    text-align: justify;
    padding-bottom: 10px;
    text-indent: 15px;
}

#subtitulo{
    text-align: center;
}

/*CONFIGURAÇÕES DO RODAPÉ*/
footer{
    position: static;
    clear: both;
    overflow: hidden;
    justify-content: space-between;
    align-items: center; 
    background-color: #08090c77;
    width: 100%;
    height: 30px;    
    line-height: 30px;
    margin-right: 15px;
    margin-bottom: 0px;
}


footer ul{
    margin-top: 0px;
    text-decoration: none;
    text-align: center;
}

footer li{
    display: inline-block;
}

footer a{
    font-family: 'Harry Potter', sans-serif;
    color: #F2ECD8;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 17px;
}
/* Código feito por: Davi da Mota */